<!-- this is for the add events page -->
<div class="container">
  <h2 id="page-heading">Create Event Page</h2>
  <div class="row m-2">

  

<!-- name for event -->

    <div class="form-group">
      <label for="event">Event Name:</label>
      <input type="text" class="form-control" id="event-name" placeholder="Event Name..." name="event">
    </div>

<hr>
<!-- Event Type -->
<select class="selectpicker" width="500px">
  <option>Select Event Interest...</option>
  <option>Coffee</option>
  <option>Bar</option>
  <option>Restuarant</option>
  <option>Movie</option>
  <option>Hike</option>
  <option>Park</option>
  <option>Gym</option>
  <option>Club</option>
  <option>Churros</option>
</select>

<hr>
<!-- date for event -->
<div class="form-group">
  Select a date: <input type="date" id="event-date" name="usr_date">
</div>

<hr>
<!-- time for event -->
<div class="form-group">
  Select a time: <input type="time" id="event-time" name="usr_time">
</div>

<hr>
<!-- search for friends -->
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search Friends by Email" name="search">
    <div class="input-group-btn">
      <button class="btn btn-default" type="search">Search</button>
    </div>
  </div>

<hr>
<!-- select friends  -->
<label class="container">
  <input type="checkbox">
  Alvin
  <span class="checkmark"></span>
</label>

<label class="container">
  <input type="checkbox">
  Scott
  <span class="checkmark"></span>
</label>

<label class="container">
  <input type="checkbox">
  Julie
  <span class="checkmark"></span>
</label>

<hr>
<!-- button to create event -->
<button id="create-event-button" class='btn btn-primary btn-block'>Create Event</button>
</div>
</div>