
<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <input class="form-control mr-md-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search Friends</button>
  </form>
</nav>


<div id="friends-search"> </div>
<button type="button" class="btn btn-secondary" id="add-friend">Add Friend</button>

<button class='btn btn-primary btn-block' id="complete-signup"><a href="/home">Sign Up!</a></button>
