<form class="form-horizontal" action="/action_page.php">
  <div class="form-group">
<div class="checkbox">
  <label><input type="checkbox"> Coffee</label>
</div>

<div class="checkbox">
  <label><input type="checkbox"> Bar</label>
</div>

<div class="checkbox">
  <label><input type="checkbox"> Restaurant</label>
</div>

<div class="checkbox">
  <label><input type="checkbox"> Movie</label>
</div>

<div class="checkbox">
  <label><input type="checkbox"> Hike</label>
</div>

<div class="checkbox">
  <label><input type="checkbox"> Park</label>
</div>

<div class="checkbox">
  <label><input type="checkbox"> Gym</label>
</div>

<div class="checkbox">
  <label><input type="checkbox"> Club</label>
</div>

<div class="checkbox">
  <label><input type="checkbox"> Churros</label>
</div>


<button class='btn btn-primary btn-block'>Add Friends</button>
