
<div class="container-flex" id="login-container">
    <row id="d-flex login-nav mx-auto">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active login-button">
                <a href="#">Login</a>
            </li>
            <li role="presentation" class="signup-button">
                <a href="#">Sign up</a>
            </li>
        </ul>
    </row>


    <div class="content">

    </div>
</div>



<script>
    // TODO

    const signup = () => {

        return `
            <form>
                <div class='form-group'>
                    <label>Username</label>
                    <input type = 'text' placeholder = 'Enter your username' class='form-control'/>
                </div>

                <div class='form-group'>
                    <label>Email</label>
                    <input type = 'text' placeholder = 'Enter your email' class='form-control'/>
                </div>

                <div class='form-group'>
                    <label>Username</label>
                    <input type = 'password' placeholder = 'Enter your password' class='form-control'/>
                </div>

                <button class='btn btn-primary'>Signup</button>
            </form>
        `;
    };


    const login = () => {

        return `
            <form>
                <div class="form-group">
                    <label for="username"></label>
                    <input type="text" class="form-control" name = "username" placeholder="Enter your username...">
                </div>

                <div class="form-group">
                    <label for="password"></label>
                    <input type="password" class="form-control" name = "password" placeholder="Enter your password...">
                </div>

                <button class="btn btn-primary">Login</button>
            </form>
        `;
    };

    $(".content").html(login);
    $(".signup-button").addClass("convertToGrey");


    $(".login-button").on("click", function () {
        $(".signup-button").addClass("convertToGrey");
        $(".signup-button").removeClass("active");
        $(this).addClass("active").removeClass("convertToGrey");

        $(".content").html(login);

    });

    $(".signup-button").on("click", function () {
        $(".login-button").addClass("convertToGrey");
        $(".login-button").removeClass("active");
        $(this).addClass("active").removeClass("convertToGrey");


        $(".content").html(signup);


    });

</script>

<div class="container-flex h-100" id="login-container">
   <row id="d-flex login-nav mx-auto">
      <div class="col-md-2"></div>
      <div class="col-md-8">
         <ul class="nav nav-tabs">
            <li class="nav-item">
               <a href="#login-form" id="login-button" class="nav-link active" data-toggle="collapse" aria-expanded="true" aria-controls="login-form">Login</a>
            </li>
            <li class="nav-item">
               <a href="#"  id="signup-button"  class="nav-link">Signup</a>
            </li>
         </ul>
         <div id="login-logo-div my-1" class="d-flex align-self-center">
            <img id="login-logo" class="mx-auto m-2" src="/img/friendcorral.png" alt="Friend Corral Logo">
         </div>
         
         <div class="collapse" id="login-form">
            <form>
               <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
               </div>
               <h3>Or</h3>
               <div class="form-group">
                  <label for="exampleInputPhone">Phone number</label>
                  <input type="email" class="form-control" id="exampleInputPhone" aria-describedby="emailHelp" placeholder="Enter phone">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
               </div>
               <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
               </div>
               <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Keep me logged in</label>
               </div>
               <button type="submit" class="btn btn-primary mx-auto align-items-center">Login</button>
            </form>
         </div>
      </div>
      <div class="col-md-2"></div>
   </row>
</div> 
