<div class="container-flex" id="login-container">
    <row id="d-flex login-nav mx-auto">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active login-button">
                <a href="#">Login</a>
            </li>
            <li role="presentation" class="signup-button">
                <a href="#">Sign up</a>
            </li>
        </ul>
    </row>


    <div class="content">

    </div>
</div>



<script>
    // TODO

    const signup = () => {

        return `
            <form>
                <div class='form-group'>
                    <label>Username</label>
                    <input type = 'text' placeholder = 'Enter your username' class='form-control'/>
                </div>

                <div class='form-group'>
                    <label>Email</label>
                    <input type = 'text' placeholder = 'Enter your email' class='form-control'/>
                </div>

                <div class='form-group'>
                    <label>Username</label>
                    <input type = 'password' placeholder = 'Enter your password' class='form-control'/>
                </div>

                <button class='btn btn-primary'>Signup</button>
            </form>
        `;
    };


    const login = () => {

        return `
            <form>
                <div class="form-group">
                    <label for="username"></label>
                    <input type="text" class="form-control" name = "username" placeholder="Enter your username...">
                </div>

                <div class="form-group">
                    <label for="password"></label>
                    <input type="password" class="form-control" name = "password" placeholder="Enter your password...">
                </div>

                <button class="btn btn-primary">Login</button>
            </form>
        `;
    };

    $(".content").html(login);
    $(".signup-button").addClass("convertToGrey");


    $(".login-button").on("click", function () {
        $(".signup-button").addClass("convertToGrey");
        $(".signup-button").removeClass("active");
        $(this).addClass("active").removeClass("convertToGrey");

        $(".content").html(login);

    });

    $(".signup-button").on("click", function () {
        $(".login-button").addClass("convertToGrey");
        $(".login-button").removeClass("active");
        $(this).addClass("active").removeClass("convertToGrey");


        $(".content").html(signup);


    });

</script>