{{#each places}}
<p>{{name}}</p>
{{/each}}

<div id="data-store" data-loc="{{loc}}"></div>

<h1 id="location-header">
    Best Meeting Places</h1>

<div id="map" style="width:350px;height:350px;">My map will go here</div>

<script>

    function myMap() {
        console.log("data" , $("#data-store").data("loc"));
    var mapOptions = {
    center: new google.maps.LatLng($("#data-store").data("loc")),
    zoom: 11,
    mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(document.getElementById("map"), mapOptions);
    };


</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAYJnrh5YnGk--lPks7qemGFtdps4xeAI&callback=myMap"></script>