
<h1 id="location-header">Best Meeting Places</h1>

<div id="map" style="width:350px;height:350px;">My map will go here</div>

<p>{{response.next_page_token}}</p>

<script>

function myMap() {
    var mapOptions = {
        center: new google.maps.LatLng(34.148972, -118.451357),
        zoom: 10,
        mapTypeId: google.maps.MapTypeId.HYBRID
    }
var map = new google.maps.Map(document.getElementById("map"), mapOptions);
};
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAYJnrh5YnGk--lPks7qemGFtdps4xeAI&callback=myMap"></script>
