.nav-item {
  width: 50%;
  text-align: center;
}

.nav-link {
   font-size: 25px;
}

.nav-tabs {
  list-style: none;
  /* margin: 0 2px; */
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.nav-tabs {
  border-bottom: none;
}

/*image responsive*/
/*#login-logo {
    width: 50%;
    height: auto;
}*/

.dropdown-menu {
  left: -75px;
}

/*#login-container .nav{
  margin-top:20px;
}*/

#login-container .nav a{
  padding: 20px;
  /* margin-top: 20px; */
}

.content{
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 20px;
}


.convertToGrey{
  background: lightgrey;
  border-radius: 4px;
  margin:0;
}

#login-container .nav a:hover{
  background: #fff;
  border:none;
}
  /*justify-content: space-around;
}*/

/*#login-logo {
  /* position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%); */
  /*width: 75%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
/*}*//*/

/*#login-logo-div {
  height: 200px;
}*/
/*
body {
  background-color: #F2EEEE;
}*/

.navbar {
  background-color: white;
}
