a {
  color: white;
}

.nav-item {
  width: 50%;
  text-align: center;
}


.nav-link {
   font-size: 25px;
}



.nav-tabs {
  list-style: none;
  /* margin: 0 2px; */
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.nav-tabs {
  border-bottom: none;
}

.navbar {
  background-color: white;
  border-bottom: 1px solid black;
  /*overflow: visible;
  position: fixed;
  top: 0;
  width: 100%;*/
}

#page-heading {
  color: #007bff;
  text-align: center;
}

/*image responsive*/
/*#login-logo {
    width: 50%;
    height: auto;
}*/

/*dropdown menu alignment*/
.dropdown-menu {
  left: -75px;
}

#login-container .nav a {
  padding: 20px;
  /* margin-top: 20px; */
}

#login-container form {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

#signup-container .nav .nav-link {
  padding: 20px;
  /* margin-top: 20px; */
}

#signup-container form {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.content {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 20px;
}

.active a{
  color:#000;
}
.convertToGrey {
  background: lightgrey;
  border-radius: 4px;
  margin:0;
}
.convertToGrey .nav-link{
  color:#fff;
}

#login-container .nav a:hover {
  background: #fff;
  color:#000;
  border:none;
}

/*map page css*/
#map {
  margin: 0 auto 0 auto;
  border: 1px solid black;
}

#location-header {
  text-align: center;
  margin-top: 50px;
}


#login-form button{
  background: #000;
}
#login-form button a{
  color:#fff;
}

#signup-form button {
  background: #000;
}

#signup-form button a{
  color: #fff;
}

  /*justify-content: space-around;
}*/

/*#login-logo {
  /* position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%); */
  /*width: 75%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
/*}*//*/

/*#login-logo-div {
  height: 200px;
}*/
/*
body {
  background-color: #F2EEEE;
}*/
